[submodule "libs/glbinding"]
	path = libs/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "libs/SDL-mirror"]
	path = libs/sdl2
	url = https://github.com/spurious/SDL-mirror.git
